<div id="<%= dom_id book %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= book.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= book.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= book.description %>
  </p>

</div>
